.hero {
    max-height: calc(100vh - 3.25rem)
}

.hero-body {
    flex-shrink: 1
}

.dice-result-container span {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-wrap:wrap
}

.dice-result-subsum-container > span:not(:last-child) {
    margin-right: 1rem
}

.dice-result-subsum {
    font-size: 1.3rem !important;
    color: black;
    border-radius: 3px;
    border: 1px solid black;
    padding: 2px 3px 2px 3px
}

.dice-roll-sum span {
    font-size: 1.7rem !important
}

.reference-table tr td:first-child {
    width: 30%;
}

#command-container ul > li {
    margin-top: 0.25rem;
    cursor: pointer;
    background-color:whitesmoke;
    height: fit-content
}
#command-container ul > li code {
    margin-right: 1rem
}

#command-container ul > li div {
    display: flex;
    align-items: center
}

#command-container ul > li:hover {
    filter: brightness(90%)
}

#dice-roller-button .icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "Roll!";
}

#dice-roller-history {
    position: relative;
    overflow: hidden;
    max-width: 30%
}

#dice-roller-history-inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    max-height: 100%;
    overflow: auto;
    flex-direction: column-reverse;
}

#history-container > .field:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 0.2rem
}

#dice-roller-history-toggle-button {
    position: fixed;
    right: 0;
    z-index: 30
}

@media screen and (max-width: 481px) {

    #dice-roller-history-toggle-button {
        font-size: 1.25rem
    }

    #dice-roller-history {
        position: absolute;
        left: 0;
        max-width: unset;
        z-index: 10;
        background-color: whitesmoke;
    }

    #dice-roller-history-inner {
        max-height: calc(100vh - 3.25rem);
    }

    #dice-roller-button, #dice-roller-dice-storage {
        padding: 0.5em !important
    }

    #dice-roller-button .icon::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: "\f6cf";
    }
}